<div>
  <ul>
    <li class='country_item'>
      <img src='${flags.svg}' alt='${name}' width='50px' height='30px' />
      <h1>${name.common}</h1>
    </li>
    <li>
      <p class='country__text'>Capital:<span class='text'>${capital}</span></p>
    </li>
    <li>
      <p class='country__text'>Population:<span
          class='text'
        >${population}</span></p>
    </li>
    <li>
      <p class='country__text'>Languages:<span class='text'>${language}</span>
      </p>
    </li>
  </ul>
</div>`;